@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fffaf5;
  font-family: 'poppins', sans-serif;
  color: #333;
  font-size: 1rem;
  line-height: 1.5;

}

.active {
  color: #4e3131;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* width */
::-webkit-scrollbar {
  width: 7px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccb7b7; 
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4e3131; 
}

canvas {
  height: 350px;
}