@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Steradian";
  src: url(font/Steradian\ Bold.otf) format(
    "opentype"
  );
}

@font-face {
  font-family: "Steradian";
  src: url(font/Steradian\ Medium.otf) format(
    "opentype"
  );
  font-weight: 300;
}

@font-face {
  font-family: "Steradian";
  src: url(font/Steradian\ Regular.otf) format(
    "opentype"
  );
  font-weight: 400;
}

body {
  background-color: #fffaf5;
  font-family: 'Steradian', sans-serif;
  color: #333;
  font-size: 1rem;
  line-height: 1.5;

}

.active {
  color: #4e3131;
}

/* width */
::-webkit-scrollbar {
  width: 7px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccb7b7; 
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4e3131; 
}

canvas {
  height: 300px;
}

.card {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}